.letters-container {
  display: grid;
  gap: 1rem;
  margin-bottom: 40px;

  &__row {
    display: flex;
    gap: 1rem;
  }
}

.letter {
  width: 50px;
  height: 50px;
  border: 1px solid var(--white-color);
  font-size: 32px;
}

.correct {
  background-color: var(--green-color);
}

.present {
  background-color: var(--yellow-color);
}

.incorrect {
  background-color: var(--grey-color);
}
